<td class="entry-icon"><span class="icon-26x26-rte-<#= type #>"></span></td>
<td class="entry-name"></td>
<td class="entry-id"></td>
<td><input class="entry-color" style="background:<#= color #>" disabled/></td>
<td><a href="#" class="entry-remove size-26x26 btn-red icon-20x20-close" tooltip="<#= locale("minimap", "remove") #>"></a></td>
